
@font-face {
    font-family: "Verdana"; 
    src: url("../fonts/Verdana.ttf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
.link{
    color: white;
    display: block;
}
.background{
    margin: 0 auto;
    width: 1366px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    overflow: auto;
}
.container{
    width: 1060px;
    margin: 0 auto;
    overflow: auto; 
}
.flex_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 1060px;
    margin: 0 auto;
    overflow: auto; 
}
.flex_container_1{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.left{
    
    width: 15%;
    margin-top: 49px;
}
.logo_img{
    
    height: 45px;
    width: 45px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
}
.left:hover .logo_img{
    background-image: url(../img/logo_orange.png);
    background-repeat: no-repeat;
}
.logo_text{
    
    font-size: 29px;
    text-transform: uppercase;
    margin-left: 15px;
    font-family: 'Verdana', sans-serif;
}
h1{
    line-height: 22px;
}
.left:hover .link{
    color:#f26522;
}
.holidays{
    font-size: 18px;
    
}
.main{
    clear: both;
    margin-top: 44px;
    
}
.contact_info{
    
    color: white;
    text-align: right;
    padding-top: 68px;
    font-family: 'Verdana', sans-serif;

}
.text{
    color: white;
    text-align: center;
    text-transform: capitalize;
    font-size: 18px;
    margin-top: 20px;
    font-family: 'Verdana', sans-serif;
}
.category{
    margin-bottom: 56px;
    position: relative;
}
.footer{
    color: white;
    font-size: 12px;
    text-align: center;
    text-transform: capitalize;
    padding-bottom: 20px;
    font-family: 'Verdana', sans-serif;
}

.orange_box{
    width: 100%;
    height: 0px;
    color: white;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    background-color: #f26522;
}
.category:hover .orange_box{
    opacity: 1;
    transition: 0.25s;
    transition-timing-function: linear;
    bottom: 37px;
    top: auto;
    height: 68px;
}
.category:hover .text{
    color: #f26522;
}
.price{
    float: left;
    font-size: 10px;
    margin: 20px;
}
.euro{
    font-size: 20px;
}
.opacity{
    color: rgba(223, 227, 231, 0.4);
}
.view_details{
    float: right;
    text-transform: capitalize;
    margin: 34px 15px 10px 0px;
}
.gradient_box{
       width: 100%;
       height: 202px;
       padding-left: 2px;
       padding-right: 2px;
        border-top: 2px solid white; 
        border-bottom: 2px solid black;
        box-sizing: border-box;
        background-position: 0 0, 100% 0; 
        background-repeat: no-repeat; 
        background-size: 2px 100%;
        background-image: linear-gradient(to bottom, white 0%, black 100%), linear-gradient(to bottom, white 0%, black 100%);
    
}

