@font-face {
    font-family: "Vegur"; 
    src: url("../fonts/Vegur-Regular.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
    } 
.container{
    width: 1280px;
    margin: 0 auto;
}
.ramda_logo{
    margin: 40px 0;
    font-size: 80px;
    font-family: 'Vegur',sans-serif;
    font-weight: 400;
}
.black{
    color: black;
    text-transform: capitalize;
}
.blue{
    color: rgb(64, 192, 235);
}
.header{
    background-color:#35444f;
    text-align: center;
}
.menu_bar{
    color: white;
    display: inline-block;
    padding: 20px;
    text-transform: capitalize;
    font-size: 24px;
    font-family: 'Vegur',sans-serif;
}
.menu_bar:hover{
    background-color: #222f3a;
}
.non_capital{
    text-transform: none;
}
.main_block{
    margin-top: 30px;
    clear: both;
    overflow: auto;
}
.side_menu{
    float: left;
    border: 1px solid black;
}
.side_menu_bar{
    padding: 25px 100px 25px 20px;
    text-transform: capitalize;
    font-size: 26px;
    font-weight: 400;
    color: #495863;
    font-family: 'Vegur',sans-serif;
}
.side_menu_bar:hover{
    background-color: rgb(194, 189, 189);
    padding: 25px 80px 25px 40px;
    color: black;
}
.side_menu_link:hover{
color: black;
}
.right_block{
    float: left;
    width: 905px;
    margin-left: 70px;
}
.image_block{
    border: 1px solid black;
    padding: 75px 291.5px;
    overflow: hidden;
}
.text_block{
    margin-top: 40px;
    color: #2c2b2b;
    font-family: 'Vegur',sans-serif;
}
.paragraph{
    margin: 20px 0;
}
.footer_menu{
    float: left;
}
.footer{
  float: left;
  padding: 15px;  
  font-size: 28px;
  text-transform: capitalize;
  color: #0c1927;
  font-family: 'Vegur',sans-serif;
}
.footer:hover{
    border-bottom: 1px solid lightskyblue;
    padding-bottom: 5px;
    color: lightskyblue;
}
.copyright{
    float: left;
    padding: 15px 28px 15px 200px;  
}
.footer_bar{
    clear: both;
    overflow: auto;
    font-size: 28px;
    text-transform: capitalize;
    color: #0c1927;
    margin-top: 50px;
    background-color: rgb(167, 164, 164);
}
img{
    -moz-transition: all 1s ease-out;
 -o-transition: all 1s ease-out;
 -webkit-transition: all 1s ease-out;
}
img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

